h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jumbotron{
    background-color: red;
    color: white;
    font-size: 60px;
    font-weight: bold;
    border-radius: 1;
    justify-content: center;
    
}

body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-weight: bold;
}

.card {
    margin-top: 2em;
    margin-left: 2em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
  }

.card-area {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.card .card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.list-group{
    text-align: left;
}