h1 {
    text-align: center;
}

body{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.jumbotron{
    background-color: red;
    color: white;
    font-size: 60px;
    
    font-weight: bold;
    border-radius: 1;
    display: flex;
    justify-content: center;
    
}

.card {
    margin-top: 2em;
    margin-left: 2em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
  }
  .card img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
.list-group{
    text-align: left;
}